/* ===GLOBAL=== */


* {
	font-family: 'Quicksand', sans-serif !Important;
	color: #edddd5 !Important;
}

body {
	background: #283d3b;
}


/* ===NAVBAR=== */


nav {
	background: #283d3b;
	text-align: center;
	font-size: 110%;
	font-size: 90%;	
}

.nav-item {
	line-height: 60px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;

}

.active {
	background: #197278;
	width: 25%
}

.logo
img {
	position: absolute;
	width: 65px;
	top: 580px;
	left: 50%;
	margin-left: -32.5px;	/* Must be half of the width */
}


/* ===MAIN CONTENT=== */


.main-content {
	background: #edddd5;
	height: 350px;
	margin-top: 40px;
	padding-bottom: 40px;
}

.profile {
	margin-top: 60px;
	text-align: center;
}

.profile
img {
	width: 250px;	
	border-radius: 100%;
}


/* ===SECONDARY CONTENT=== */


.secondary-content {
	background: #197278;
	height: 230px;	
	margin-top: -20px;
	text-align: center;
}

.secondary-content
h1 {
	padding-top: 50px;
	font-size: 30px;
	font-weight: bold;
}

.secondary-content
h3 {
	font-size: 20px;
	padding-top: 10px;
}


/* ===FOOTER=== */


footer {
	background: #283d3b;	
	height: 50px;
}

footer
p {
	position: relative;
	font-size: 10px;
	text-align: center;
	top: 30px;
	color: #141f1e !Important;
}